<form  class="content" name="players">
	<div class="form-group">
			<span class="input input--hoshi">
				<input class="input__field input__field--hoshi"  (blur)="onInputBlur($event)" (focus)="onInputFocus($event)" type="text" name="player1" id="player1" [(ngModel)]="players[0].name" />
				<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="player1">
					<span class="input__label-content input__label-content--hoshi">Player 1</span>
				</label>
			</span>
			<span class="input input--hoshi">
				<input class="input__field input__field--hoshi"  (blur)="onInputBlur($event)" (focus)="onInputFocus($event)" type="text" name="player2" id="player2" [(ngModel)]="players[1].name" />
				<label class="input__label input__label--hoshi input__label--hoshi-color-3" for="player2">
					<span class="input__label-content input__label-content--hoshi">Player 2</span>
				</label>
			</span>
		<button *ngIf="!start_game" type="submit" (click)="startGame()">Play</button>
		<button *ngIf="start_game" (click)="resetGame()">reset</button>
	</div>
</form>  