<!--<app-fireworks ></app-fireworks>-->
<div class="container" id="playground">
<h1 class="threed">
  {{title}}
</h1>
<h2 *ngIf="winner > -1">{{players[winner].name}} Win!!</h2>
<div class="center">
  <app-players (playersUpdated)="handleplayersUpdated($event)"></app-players>
  <table cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFF99">
    <tbody>
      <tr>
        <td *ngFor="let j of cells">
          <app-select (click)="clicked(j)" [color]="players[player].color"></app-select>
        </td>
      </tr>
      <tr *ngFor="let i of cells">
        <td *ngFor="let j of cells">
          <app-cube [selected]="cube[i][j]"></app-cube>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>